.App {
  text-align: center;
}

body {
  background-image: url('https://thefulldomeblog.files.wordpress.com/2013/06/cropped-starglobe-maya-render.jpg');
  background-size: cover;
  color: white;
  font-family: Epilogue , sans-serif;
}
